html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 시작 */
a,
a:active {
  text-decoration: none;
  color: inherit;
}

div {
  display: block;
}
body {
  box-sizing: border-box;
}

button {
  border: 0;
}

.banner {
  height: 64px;

  background-color: #f7f7f7;

  padding-left: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #dddddd;
}

.banner_h1 {
  font-size: 20px;
  padding: 22px 0 20px;
  font-weight: 500;
}

.banner_right {
  right: 64px;

  padding-top: 23px;
  padding-bottom: 21px;

  position: relative;
  display: flex;
  align-items: center;

  height: 100%;
  top: 0;
}

.banner_button {
  cursor: pointer;
  margin: 0;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #f7f7f7;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.banner_video {
  display: flex;
  align-items: center;
}

.banner_img {
  margin-left: -8px;
  margin-right: 16px;

  border-radius: 5px;
}

.banner_line {
  display: block;
  border-left: 1px solid #dddddd;
  height: 30px;
}

.banner_a {
  cursor: pointer;
  margin: 0;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #f7f7f7;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 400;
}

.nav_bar {
  flex: 1 0 140px;

  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 1470px;
  height: 80px;

  padding: 0 80px;
  border-bottom: 1px solid #dddddd;
}
.nav_logo_box {
  display: block;
  max-width: 1120px;
}

.nav_a {
  cursor: pointer;
  color: #ff385c;

  outline: none;
  align-items: center;
  display: inline-flex;
  height: 80px;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}

.nav_wrap {
  padding: 0 24px;
  flex: 0 1 auto;
  min-width: 348px;
}

.nav_search {
  max-width: 1120px;

  text-align: left;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  transition: box-shadow 0.2s ease;

  height: 48px;

  align-items: center;
  color: #222222;
  display: inline-flex;
  max-width: 100%;
  vertical-align: middle;
}

.nav_search_btn {
  height: 48px;
  padding-left: 8px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;

  background: transparent;
  cursor: pointer;
  padding: 0;
  text-align: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: -1px;

  position: relative;
}

.nav_search_div {
  padding: 0 16px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  min-width: 80px;
}

.nav_search_span {
  background-color: #dddddd;

  flex: 0 0 1px;
  height: 24px;
  width: 1px;
}

/* 하단 풋터 부분 */

footer {
  display: block;
}

.footer_wrap {
  background-color: #ffffff;

  border-top: 1px solid #dddddd;
}

.footer_box {
  padding: 13px 80px;

  justify-content: space-between;
  align-items: center;
}

.footer_wrap {
}

.footer_mid {
  flex: 1 0 22px;
}

.footer_info {
  padding-bottom: 8px;
  line-height: 12px;
  font-size: 10px;
  flex-direction: column;
  padding-inline-start: 80px;
  padding-inline-end: 80px;
  margin-inline: auto;

  display: flex;
  color: #717171;
}

.footer_info_detail {
  padding-top: 8px;
  border-top: 1px solid #dddddd;
}
